@using CustomPost2023.Data.Models
@model IEnumerable<CustomPost2023.Data.Models.export_countries>
@{
    ViewBag.Title = "Список стран";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <h2>Список стран</h2>
    <p><a asp-action="Create">Добавить страну</a></p>
    <table class="table">
        <tr><th>ID</th><th>Название страны</th><th></th><th></th></tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.country_title</td>
                <td>
                    <a asp-action="Edit" asp-controller="Export_country" asp-route-id="@item.id">Изменить</a>
                </td>
                <td>
                    <form asp-controller="Export_country" asp-action="Delete" method="post" asp-route-id="@item.id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
        }
    </table>
</div>