@model CustomPost2023.Data.Models.user
@{
    ViewBag.Title = "Изменение пользователя";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <h2>Редактирование пользователя</h2>
    <form asp-action="Edit" asp-controller="User">
        <div asp-validation-summary="All">
            <p>
                <label asp-for="user_name">Имя</label><br />
                <input type="text" asp-for="user_name" />
            </p>
            <p>
                <label asp-for="login">Login</label><br />
                <input type="text" asp-for="login" />
            </p>
            <p>
                <label asp-for="password">Password</label><br />
                <input type="text" asp-for="password" />
            </p>
            <p>
                <label asp-for="role">Role</label><br />
                <input type="text" asp-for="role" />
            </p>
            <p>
                <input type="submit" value="Сохранить" />
            </p>
            <input type="hidden" asp-for="user_id" />
        </div>
    </form>
</div>