<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<html
<header>
  <link rel="stylesheet" href="importer_table_styles.css">
  <link rel="stylesheet" href="styles.css">
</header>
<head>

</head>
<body class="body_class">
  <div class="header2">
    <div class="page">
      <div class="left">
        Выбрать критерий поиска
        <form class="">
            <input class="input_class" type="text" name="" placeholder="Введите ID...">
            <input class="input_class" type="text" name="" placeholder="Введите название...">
            <input class="input_class" type="text" name="" placeholder="Введите логин...">
            <input class="input_class" type="text" name="" placeholder="Введите пароль...">
        </form
      </div>
      <p><button class="btn-search" type="button" name="button">Поиск</button></p>
      <br><br><br><br>
      <p><button class="btn-create" type="button" name="button">Создать импортера</button></p>
      <br><br><br><br>
      <div class="">
        <table class="table1" border="1">
           <tr class="head-table">
              <th>ID</th>
              <th>Название продукта</th>
              <th>Логин</th>
              <th>Пароль</th>
              <th>Действия</th>
           </tr>
           <tr class="rows-table"><td class="id-table1">34,5</td><td class="prod-name">3,5</td><td class="prod-name">36</td><td class="prod-name">23</td><td class="action-table1"><img src="https://www.iconsdb.com/icons/preview/white/edit-2-xxl.png" width="30" height="25"><img src="https://www.iconsdb.com/icons/preview/white/trash-9-xxl.png" width="30" height="25"></td></tr>
           <tr class="rows-table"><td class="id-table1">35,5</td><td class="prod-name">4</td><td class="prod-name">36⅔</td><td class="prod-name">23–23,5</td><td class="action-table1"><img src="https://www.iconsdb.com/icons/preview/white/edit-2-xxl.png" width="30" height="25"><img src="https://www.iconsdb.com/icons/preview/white/trash-9-xxl.png" width="30" height="25"></td></tr>
           <tr class="rows-table"><td class="id-table1">36</td><td class="prod-name">4,5</td><td class="prod-name">37⅓</td><td class="prod-name">23,5</td><td class="action-table1"><img src="https://www.iconsdb.com/icons/preview/white/edit-2-xxl.png" width="30" height="25"><img src="https://www.iconsdb.com/icons/preview/white/trash-9-xxl.png" width="30" height="25"></td></tr>
           <tr class="rows-table"><td class="id-table1">36,5</td><td class="prod-name">5</td><td class="prod-name">38</td><td class="prod-name">24</td><td class="action-table1"><img src="https://www.iconsdb.com/icons/preview/white/edit-2-xxl.png" width="30" height="25"><img src="https://www.iconsdb.com/icons/preview/white/trash-9-xxl.png" width="30" height="25"></td></tr>
           <tr class="rows-table"><td class="id-table1">37</td><td class="prod-name">5,5</td><td class="prod-name">38⅔</td><td class="prod-name">24,5</td><td class="action-table1"><img src="https://www.iconsdb.com/icons/preview/white/edit-2-xxl.png" width="30" height="25"><img src="https://www.iconsdb.com/icons/preview/white/trash-9-xxl.png" width="30" height="25"></td></tr>
           <tr class="rows-table"><td class="id-table1">38</td><td class="prod-name">6</td><td class="prod-name">39⅓</td><td class="prod-name">25</td><td class="action-table1"><img src="https://www.iconsdb.com/icons/preview/white/edit-2-xxl.png" width="30" height="25"><img src="https://www.iconsdb.com/icons/preview/white/trash-9-xxl.png" width="30" height="25"></td></tr>
        </table>
      </div>
    </div>
    <br>
  </div>
</body>
</html>
