<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <table>
        <tbody>
            @{
                foreach (var p in Model)
                {
                    <tr>
                        <td>@p.user_id</td>
                        <td>@p.user_name</td>
                        <td>@p.login</td>
                        <td>@p.password</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>