@model CustomPost2023.Data.Models.status
@{
    ViewBag.Title = "Создание статуса";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <h2>Добавление статуса</h2>
    <form asp-action="Create" asp-controller="Status">
        <p>
            <label asp-for="status_title">Имя</label><br />
            <input type="text" asp-for="status_title" />
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    </form>
</div>