.profile-container {
    margin-top: 20px;
    text-align: left;
}

.profile-photo {
    max-width: 80px;
    height: auto;
    border-radius: 50%;
}

.btn-change-photo {
    font-size: 12px;
    padding: 5px 10px;
    margin-top: 10px;
}

table {
    width: 120%; /* Пример: увеличьте или уменьшите значение по вашему усмотрению */
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background-color: #00a0df; /* Голубой цвет шапки */
    color: #fff;
}

th {
    padding: 10px;
    text-align: center;
}

th, td {
    width: 14.28%; /* Равномерное распределение по 7 дням в неделе */
    border: 1px solid #ddd;
    padding: 10px;
    word-wrap: break-word;
}

.day {
    margin-bottom: 5px;
}

.appl_btn, /* Стили для кнопок */
a.appl_link { /* Стили для ссылок */
    font-size: small;
    display: block;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:fuchsia; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание ссылок */
}
.task-list {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1;
}

td:hover .task-list {
    display: block;
}